# Maven & Java
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class

# Node & Frontend
node_modules/
**/node_modules/
dist/
**/dist/
dist-ssr/
**/dist-ssr/
.vite/
**/.vite/
*.local

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Archive files
*.zip
*.tar.gz
*.rar
*.7z

# IDE & Editors
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
.springBeans
.sts4-cache
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
